

.car-list {
    margin: 20px;
  }
  
  .car-list table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .car-list table th {
    background-color: #ddd;
    padding: 10px;
    font-size: 18px;
  }
  
  .car-list table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .car-list table td img {
    max-width: 100px;
  }
  